*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
body {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  font-family: system-ui, sans-serif;
  overflow: hidden;
  user-select: none;
}
button {
  padding: 1px 4px;
  display: flex;
  align-items: center;
  gap: 4px;
  font-family: inherit;
}
audio {
  width: 400px;
  height: 40px;
}
details {
  font-size: 13px;
  border: 1px solid #00000080;
  border-radius: 4px;
}
details > summary {
  padding: 4px 12px;
  background: #00000020;
  outline: none;
}
details > summary:focus-visible {
  background-color: #004bbd40;
}
details[open] > summary {
  border-bottom: 1px solid #00000080;
}
details > section {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}
details > section > section > button::before {
  content: "";
  margin: 0 3px;
  border: 4px solid transparent;
  border-left-width: 6px;
  border-left-color: currentColor;
  border-right-width: 0;
}
header {
  padding: 12px 32px;
  color-scheme: dark;
  display: grid;
  gap: 8px;
  grid-template-columns: 1fr auto 1fr;
  place-items: center;
  color: #eaeaea;
  background: #1e1e1e;
}
header h1 {
  justify-self: start;
}
header figure {
  display: flex;
  gap: inherit;
  align-items: center;
}
header button {
  justify-self: end;
}
main {
  padding: 16px 32px;
  flex-basis: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
  overflow: overlay;
}
main > section {
  font-size: 13px;
}